.card {
   
    text-align: center;
  }
  
  .card h1 {
    position: relative;

    font-weight: bold;
  }
  
  .card p{
    font-weight: bold;
    font-family: Signika Negative, sans-serif;

  }
  .about{
      text-align: center;
  }
  .about h2{
      font:  sans-serif;
      font-size: 1cm;
      font-weight: bold;
  }
  .what-we-do {
      text-align: center;
  }
  #development{
      display: none;
  }
  #design{
      display: none;
  }
  #product{
      display: none;
  }
  footer{
      align-items: center;
  }
  footer{
   align-content: center;
  }
.what-we-do{
    margin-top: 1cm;
}
.about{
    margin-top: 1cm;
}
#delani{
    margin-top: 1cm;
}
#delani2{
    margin-top: 1cm;
}
#welcome{
    margin-top: 1cm;
}
.form-group{
    margin-top: 1cm;
    
}
.form-control{
color:whitesmoke;
}